<% layout('layouts/boilerplate.ejs') %>
    <h1>All Cottages</h1>
    <div><a href="/cottages/new">Add Cottage</a></div>
    <ul>
        <% for (let cottage of cottages){ %>
           <li> <a href="/cottages/<%= cottage._id%>"><%= cottage.title %></a> </li>
            <% } %>
    </ul>
