<% layout('layouts/boilerplate.ejs') %>
    <h1>Create Cottage</h1>
    <form action="/cottages" method="POST">
        <div>
            <label for="title" class="form-label">Title</label>
            <input type="text" id="title" class="form-control" name="cottage[title]">
        </div>
        <div>
            <label for="location" class="form-label">Location</label>
            <input type="text" id="location" class="form-control" name="cottage[location]">
        </div>
        <button>Add Cottage</button>
    </form>
    <div><a href="/cottages">Back</a></div>
