<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <style>
        
            .productContainer{
                background-color: azure;
            }
            .productContainer ul{
                display: flex;
                /* flex-direction: column; */
                justify-content: left;
                gap: 10px;
                flex-wrap: wrap;
            }
            .productContainer ul li{
                list-style: none;
            }
            .productContainer ul a{
                text-decoration: none;
                color: black;
                
            }
            .productContainer ul div{
                height: 30px;
                width: 30vw;
                background-color: rgb(215, 215, 215);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        
    </style>
    <title>All Products</title>
</head>
<body>
    <h1><%= category %> Products</h1>
    <div class="productContainer">
    <ul>
        <% for(let product of products) { %>
            <a href="/products/<%= product._id%>">
            <div class="product">
            <li><%= product.name  %></li>
        </div></a>
            <% } %>
        
    </ul>
</div>
    <a href="/products/add">Add Product</a>
    <% if(category !== 'All'){  %>
    <a href="/products">All Product</a>
<% } %>
</body>
</html>