<%-  include('partials/head') %>
<body>
    <%-  include('partials/navbar') %>
    <h1>This is a heading <%= 'Hello World'.toUpperCase() %></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error aliquam autem ipsum, eius hic tenetur suscipit, pariatur soluta aperiam quisquam doloribus! Earum consequuntur, aut natus ratione sapiente quibusdam enim incidunt!
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum vitae repellendus doloremque expedita eius esse quos nobis amet cumque aperiam et tempora, excepturi sunt ipsa quo officia laudantium fugit ipsum.
                
            </p>
        </p>
</body>
</html>