<%-  include('partials/head') %>
<body>
    <%-  include('partials/navbar') %>
    <h1>Your random number is <%= rand %></h1>
    <% if(rand%2 === 0) { %>
        <h2>This is a even number</h2>
        <%}else {%>
            <h2>This is a odd number</h2>
            <%}%>
</body>
</html>